@charset "UTF-8";

/*normalize*/
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-size: 14px;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #fff;
}
a{
    text-decoration: none;
}
img{
    border: none;
}
hr{
    height: 1px;
    border: none;
}
em{
    font-style: normal;
}
button,
input,
optgroup,
select,
textarea{
    font:inherit;
    color: inherit;
}
button,
input,
select,
textarea{
    line-height: inherit;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="checkbox"],
input[type="radio"]{
    cursor: pointer;
}
fieldset{
    padding: .35em .625em .75em;
    margin: 0 2px;
    border:1px solid #c0c0c0;
}
legend{
    color: #333;
}
label{
    display: inline-block;
}
strong{
    font-weight: normal;
}




