/*鏈虹*/
.carousel_inner{
    width: 1110px;
}
.carousel_list li{
    padding: 0 5px;
    border: none;
}
.img_con{
    width: 360px;
    height: 240px;
    overflow: hidden;
}
.img_con img{
    width: 100%;
    min-height: 100%;
}
.carousel_list .item_title{
    position: absolute;
    top:150px;
    left: 40px;
    right: 20px;
    font-size: 20px;
    line-height: 22px;
    height: 44px;
    overflow: hidden;
    font-weight: 700;
    color: #333;
}
.carousel_list>li>a{
    display: block;
    width: 94px;
    line-height: 34px;
    text-align: center;
    background-color: #272727;
    color: #fff;
    font-size: 14px;
    position: absolute;
    top:200px;
    left: 25px;
}
.carousel_list>li>a:hover{
    background-color: #ff4a00;
    color: #fff;
}
.carousel_list li:hover{
    border: none;
}
@media (max-width: 768px){
    .carousel_inner{
        width: 500px;
    }
    .img_con{
        width: 240px;
        height: 160px;
    }
    .carousel_list .item_title{
        top:10px;
        left: 20px;
        right: 10px;
        font-size: 16px;
        height: 132px;
    }
    .carousel_list>li>a{
        display: none;
    }
}
@media (max-width: 560px){
    .carousel_inner{
        width: 250px;
    }
}

/*涓烘偍鎺ㄨ崘*/
.floor_name{
    font-size: 20px;
    font-weight: 800;
    color: #333;
    line-height: 50px;
    margin-top: 10px;
}
@media (max-width: 768px){
    .floor_name{
        text-indent: 5px;
    }
}
.recom_group{
    margin: -15px;
}
.recom_group .list_group_item{
    width: 50%;
    *width: 580px;
    padding: 15px;
    height: 224px;
}
.recom_group .img_wrap,
.recom_group .txt_wrap{
    width: 50%;
    float: left;
    height: 100%;
}
.img_wrap>img{
    width: 100%;
    min-height: 100%;
    display: block;
}
.recom_group .txt_wrap{
    *width: 270px;
    position:relative;
    background-color: #f4f4f4;
    padding:0 10px;
}
.recom_group .item_title{
    padding-top: 5px;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    line-height: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.recom_group .item_con{
    font-size: 14px;
    color: #666;
    line-height: 24px;
    height: 96px;
    overflow: hidden;
}
.recom_group .btn{
    border-radius: 0;
    margin-top: 10px;
    border-color: #777;
    color: #555;
    padding: 8px 17px;
    font-size: 14px;
    line-height: 16px;
}
.recom_group .btn:hover,
.recom_group .btn:focus{
    color: #fff;
    background-color: #ff4a00;
    border-color: #ff4a00;
}
.recom_group .caret_left{
    position: absolute;
    left: -30px;
    top:30px;
    border-width:15px;
    *border-width:17px 15px;
    border-style: solid;
    border-color: transparent #f4f4f4 transparent transparent;
}
@media (max-width: 768px){
    .recom_group{
        margin:-5px 0;
    }
    .recom_group .list_group_item{
        width: 100%;
        padding:5px;
        height: auto;
    }
    .recom_group .img_wrap{
        width: 150px;
        height: 100px;
    }
    .recom_group .txt_wrap{
        float: none;
        width: 100%;
        height: 100px;
        z-index: -1;
        padding: 0 5px 0 160px;
    }
    .recom_group .item_con{
        height: 54px;
        line-height: 18px;
    }
    .recom_group .btn{
        display: none;
    }
}

/*宸ョ▼妗堜緥*/
.case_group{
    margin: -10px;
}
.case_group .list_group_item{
    width:25%;
    *width:282px;
    padding: 10px;
}
.case_group .img_wrap{
    border: 1px solid #ddd;
    position: relative;
}
.case_group .case_pic{
    width: 281px;
    height:214px;
}
.case_group .item_title{
    position: absolute;
    bottom:20px;
    left: 30px;
    right: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    border-left: 3px solid #ff4a00;
    text-indent: 5px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.case_group .list_group_item:hover .item_title{
    line-height: 60px;
    left: 0;
    right: 0;
    bottom:0;
    text-indent: 35px;
    background-color: #ff4a00;
}
@media (max-width: 768px){
    .case_group{
        margin:-5px 0;
    }
    .case_group .list_group_item{
        padding: 5px;
        width: 50%;
    }
}

/*宸ョ▼妗堜緥璇︽儏*/
.caseDetail_name{
    font-size: 20px;
    font-weight: 600;
    color: #333;
    line-height: 38px;
    margin-left: 15px;
}

.caseDetail_group{
    margin: -15px;
}
.caseDetail_group .list_group_item{
    width: 100%;
    *width: 1080px;
    padding: 15px;
    height: 464px;
}
.caseDetail_group .img_wrap {
    width: 40%;
    float: left;
    height: 100%;
}
.caseDetail_group .txt_wrap{
    width: 60%;
    *width: 370px;
    float: left;
    height: 88%;
    position:relative;
    background-color: #f4f4f4;
    padding:0 10px;
    overflow-x: hidden;
}
.img_wrap>img{
    width: 100%;
    min-height: 100%;
    display: block;
}
.caseDetail_group .item_con{
    font-size: 14px;
    color: #666;
    line-height: 24px;
    height: 390px;
    padding:15px;
}
.caseDetail_group .btn{
    border-radius: 1px;
    margin-top: 10px;
    border-color: #777;
    color: #555;
    padding: 8px 17px;
    font-size: 14px;
    line-height: 16px;
}
.caseDetail_group .btn:hover,
.caseDetail_group .btn:focus{
    color: #fff;
    background-color: #ff4a00;
    border-color: #ff4a00;
}
.caseDetail_group .caret_left{
    position: absolute;
    left: -30px;
    top:30px;
    border-width:15px;
    *border-width:17px 15px;
    border-style: solid;
    border-color: transparent #f4f4f4 transparent transparent;
}
.caseDetail_group .returnBack{
    width: 60%;
    *width: 370px;
    float: left;
    height: 12%;
    position:relative;
    background-color: #f4f4f4;
    padding:5px 10px;
}
@media (max-width: 780px) {

    .caseDetail_name{
        font-size: 20px;
        font-weight: 600;
        color: #333;
        line-height: 38px;
        margin-left: 18px;
    }
    .caseDetail_group{
        margin: -15px 0 0 3px ;
    }

    .caseDetail_group .list_group_item{
        width: 100%;
        *width: 1080px;
        padding: 15px;
        height: 480px;
    }
    .caseDetail_group .img_wrap {
        width: 40%;
        float: left;
        height: 40%;
    }
    .caseDetail_group .txt_wrap{
        width: 60%;
        *width: 480px;
        float: left;
        height: 88%;
        position:relative;
        background-color: #f4f4f4;
        padding:0 10px;
        overflow-x: hidden;
    }
    .img_wrap>img{
        width: 100%;
        min-height: 60%;
        display: block;
    }
    .caseDetail_group .item_con{
        font-size: 14px;
        color: #666;
        line-height: 24px;
        height:480px;
        padding:15px;
    }
    .caseDetail_group .btn{
        border-radius: 1px;
        margin-top: 3px;
        border-color: #777;
        color: #555;
        padding: 5px 5px;
        font-size: 10px;
        line-height: 12px;
    }
    .caseDetail_group .btn:hover,
    .caseDetail_group .btn:focus{
        color: #fff;
        background-color: #ff4a00;
        border-color: #ff4a00;
    }
    .caseDetail_group .caret_left{
        position: absolute;
        left: -30px;
        top:30px;
        border-width:15px;
        *border-width:17px 15px;
        border-style: solid;
        border-color: transparent #f4f4f4 transparent transparent;
    }
    .caseDetail_group .returnBack{
        width: 60%;
        float: right;
        height: 12%;
        position:relative;
        background-color: #f4f4f4;
    }
}

/*鏈虹鍝佺墝甯傚満*/
.page_title{
    font-size: 20px;
    font-weight: 800;
    color: #333;
    line-height: 40px;
    margin: 10px 0;
}
.brand_head{
    position: relative;
    padding: 13px 0 12px;
}
.brand_head_l{
    color: #999;
    line-height: 26px;
    padding-right: 10px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top:0;
}
.brand_head_m{
    height: 1px;
    background-color: #ddd;
}
.brand_head_r{
    background-color: #fff;
    padding: 0 10px;
    position: absolute;
    right: 0;
    top:0;
}
.brand_head_r>a{
    display: block;
    background-color: #f4f4f4;
    color: #555;
    line-height: 26px;
    padding: 0 16px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}
.brand_head_r>a:hover{
    background-color: #ff4a00;
    color: #fff;
}
.brand_con{
    margin: 5px 0 20px;
    overflow: hidden;
}
.brand_con_l{
    float: left;
    position: relative;
}
.brand_con_l>img{
    width: 338px;
    height: 430px;
    display: block;
}
.brand_con_l .brand_name{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    margin: auto;
    width: 128px;
    height: 128px;
    background: url("../images/base/circle128.png") no-repeat;
    text-align: center;
    line-height: 128px;
    font-size: 22px;
    color: #444;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.goods_item{
    float:left;
    width: 406px;
    *width: 404px;
    margin-left: 20px;
    border: 1px solid #dddee2;
    -webkit-transition: border .4s;
    -moz-transition: border .4s;
    -ms-transition: border .4s;
    -o-transition: border .4s;
    transition: border .4s;
}
.pic_wrap{
    position: relative;
}
.goods_pic{
    display:block;
    height: 280px;
    overflow: hidden;
    text-align: center;
}
.goods_pic>img{
    width: 96%;
    height: 94%;
    margin: 3% 0;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.goods_item .txt_wrap{
    padding: 0 20px;
    line-height: 32px;
}
.goods_item .goods_price{
    font-size: 18px;
    font-weight: 800;
    color: #ff4a00;
}
.goods_item .goods_sell{
    color: #999;
    float:right;
}
.goods_item .goods_name{
    display: block;
    font-size: 14px;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.goods_item .goods_name:hover{
    color: #ff4a00;
}
.goods_item .subtitle{
    font-family: "simsun";
    color: #555;
    overflow: hidden;
}
.goods_item .subtitle span{
    display: block;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 65%;
}
.goods_item .subtitle span+span{
    width: 35%;
    text-align: right;
}
.goods_opr{
    padding: 5px 0 13px;
    position: relative;
}
.goods_opr .shop_name{
    display: block;
    padding-right: 55px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #013a94;
}
.goods_opr .btn_buy{
    position: absolute;
    right: 0;
    top:10px;
}

.goods_item:hover{
    border-color: #ff4a00;
}
.goods_item:hover .goods_pic>img{
    width: 100%;
    height: 100%;
    margin: 0;
}
.more_brand{
    display: inline-block;
    width: 338px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    background-color: #ff4a00;
    font-size: 14px;
}
.more_brand:hover{
    background-color: #ff3000;
}

.goods_list_5{
    margin-left: -15px;
    overflow: hidden;
}
.goods_list_5 .goods_item{
    margin: 0 0 15px 15px;
    width: 226px;
    *width: 224px;
}
.goods_list_5 .goods_pic{
    height: 150px;
}
.goods_list_5 .txt_wrap{
    padding: 0 10px;
    line-height: 26px;
}
.goods_list_5 .goods_price{
    font-size: 14px;
}
.goods_list_5 .goods_name{
    font-size: 12px;
}
.goods_list_5 .btn_buy{
    top:6px;
}

@media (max-width: 768px){
    .brand_con_l{
        display: none;
    }
    .goods_item{
        width: 49%;
        margin: 0 .5%;
    }
    .goods_pic{
        height: auto;
    }
    .goods_pic>img{
        height: auto;
    }
    .goods_item .txt_wrap{
        padding: 0 5px;
        line-height: 26px;
    }
    .goods_opr .btn_buy{
        top:7px;
        padding: 3px 9px;
    }
    .goods_item .title span{
        display: block;
        float: none;
    }

    .goods_list_5{
        margin: 0;
    }
    .goods_list_5 .goods_item{
        width: 48%;
        margin: 5px 1%;
    }
    .goods_list_5 .goods_pic{
        height: auto;
    }
}

/*鍝佺墝鍒楄〃*/
.attrs{
    border:1px solid #efefef;
    font-size: 12px;
    font-family: "NSimSun", "SimSun";
    margin-bottom: 10px;
}
.attr{
    position: relative;
}
.attr_key{
    width: 100px;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    background: #f3f3f3;
    padding-left: 16px;
    line-height: 32px;
}
.attr_key,
.attr_value a{
    color:#666;
}
.attr_value{
    padding: 6px 0  6px 123px;
}
.attr_value a{
    display: inline-block;
    width: 60px;
    text-align: left;
    line-height: 20px;
}
.attr_value a:hover,
.attr_value .active{
    color: #ff4a00;
}
.cate_attrs{
    border-top:1px solid #ddd;
}

/*棣栭〉鎼滅储鏁存満妫�绱负绌�*/
.null_tip{
    margin:20px 0 20px 170px;
}
@media (max-width: 767px) {
    .null_tip{
        margin:20px 0 20px 15px;
    }
}

/*banner鍙樻洿-杈圭獎*/
.jumbotron .slide_content{
    overflow: hidden;
    margin:0 auto;
    width: 1195px;
}

@media (max-width: 767px) {
    .jumbotron .slide_content{
        margin:0 auto;
        width: auto;
    }
}
.attrs_selected {
    border: 1px solid #d4d4d4;
    background: #f7f7f7;
    line-height: 40px;
    overflow: hidden;
    margin-top: 20px;
}
.attrs_selected .float_l {
    font-size: 16px;
    font-weight: bold;
    color: #444;
}
.attrs_selected .float_l span {
    padding: 0 5px 0 10px;
    display: inline-block;
}

